PORT=3333
HOST=0.0.0.0
NODE_ENV=development
APP_KEY=O-m1bXz1uX8NdarEM626RB2Ordqhvfs7
DRIVE_DISK=local
DB_CONNECTION=mysql
MYSQL_HOST=localhost
MYSQL_PORT=3306
MYSQL_USER=lucid
MYSQL_PASSWORD=
MYSQL_DB_NAME=lucid
REDIS_CONNECTION=local
REDIS_HOST=127.0.0.1
REDIS_PORT=6379
REDIS_PASSWORD=
APP_FRONTEND_URL=https://stg-gig.doconchain.io
DOC_LINK_URL=https://l.doconchain.io/links
DOC_LINK_KEY=xxxx

GITHUB_CLIENT_ID=clientId
GITHUB_CLIENT_SECRET=clientSecret
GOOGLE_CLIENT_ID=clientId
GOOGLE_CLIENT_SECRET=clientSecret
TWITTER_CLIENT_ID=clientId
TWITTER_CLIENT_SECRET=clientSecret
LINKEDIN_CLIENT_ID=clientId
LINKEDIN_CLIENT_SECRET=clientSecret
FACEBOOK_CLIENT_ID=clientId
FACEBOOK_CLIENT_SECRET=clientSecret
